COMPOSE_PROJECT_NAME=rtk-eduflow
APP_NAME=edu_crm

POSTGRES_DB=rtk_eduflow
POSTGRES_USER=rtk_eduflow
POSTGRES_PASSWORD=rtk_eduflow
KEYCLOAK_DB=keycloak

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=rtk-eduflow
KEYCLOAK_FRONTEND_CLIENT_ID=rtk-eduflow-frontend
KEYCLOAK_BACKEND_CLIENT_ID=rtk-eduflow-backend
KEYCLOAK_AUDIENCE=rtk-eduflow-backend
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

BACKEND_PORT=8000
FRONTEND_PORT=5173
