.interactionFunnel {
  padding: 20px;

  background: var(--ant-color-bg-container);
  border: 1px solid var(--ant-color-border-secondary);
  border-radius: var(--ant-border-radius-lg);

  &__header {
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }
}

.chart {
  width: 100%;
  height: 320px;
}
