.layout {
  min-height: 100vh;
}

.content {
  width: 100%;
  padding: 24px 48px;
}

.contentInner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .content {
    padding-inline: 32px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 20px 16px;
  }
}
