@use '../../styles/mixins' as *;

.header {
  height: 72px;
  padding: 0 24px;
  background: var(--ant-color-bg-container);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--ant-color-border-secondary);

  @include sm {
    padding: 0 16px;
  }
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menuButton {
  font-size: 22px;
}

.logoLink {
  display: flex;
  gap: 6px;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include sm {
    display: none;
  }
}

.logoMain {
  font-size: 26px;
  font-weight: 700;
  color: var(--ant-color-primary);
}

.logoAccent {
  font-size: 26px;
  font-weight: 700;
  color: var(--ant-orange);
}

.notification {
  font-size: 24px;
}

.divider {
  height: 32px;
  margin: 0;
}

.user {
  cursor: pointer;
}

.avatar {
  background-color: var(--ant-color-primary);
}

.username {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include xs {
    display: none;
  }
}
